{% assign lastmonth = "" %}
{% assign lastyear = "" %}
{% assign lastdate = "" %}
<div id="archive">
{% for post in site.posts %}
    {% assign currentdate = post.date | date: "%B %Y" %}
    {% assign currentyear = post.date | date: "%Y" %}
    {% assign currentmonth = post.date | date: "%B" %}
    {% if currentdate != lastdate %}
    {% if currentmonth != lastmonth %}
        {% if currentyear != lastyear %}
            {% if lastyear != "" %}
            </ul></div></ul></div>
            {% endif %}
            <div><div data-year="{{ currentyear }}" class="y">{{ currentyear }}</div><p></p><ul>
            {% assign lastyear = currentyear %}
            {% assign lastmonth = "" %}
        {% else %}
            </ul>
            {% if lastmonth != "" %}
            </div>
            {% endif %}
            {% assign lastmonth = currentmonth %}
        {% endif %}
        <div class="{{ currentyear }} m"><div data-year="{{ currentyear }}" data-month="{{ currentmonth }}" class="month"><li>{{ currentmonth }}</li></div><p></p><ul>
    {% endif %}
    {% endif %}
    <div class="{{ currentyear }} {{ currentmonth }} p"><li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li></div><p></p>
    {% assign lastdate = currentdate %}
{% endfor %}</ul></div></ul></div>
</div>